# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS generated
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: for yarn
.yarn/
.pnp.*
